.min_menu {

}
.min_menu .gbut_min_menu {
	width:24px;
	height:24px;
	margin:8px;
	cursor:pointer;
}

.min_menu .w_menu {
	width:290px;
	height:300px;
	margin-top:5px;
	padding:10px;
	background-color:#fff;
	display:none;
	position:relative;
}
.min_menu .w_menu .t_menu li {
	font-size:18px;
	margin-bottom:10px;
}
.min_menu .w_menu .t_menu a {
	font-size:18px;
}
.min_menu .w_menu .box_ss {
	position:absolute;
	left:20px;
	bottom:20px;
}