@font-face {
    font-family: 'HelveticaLight';
    src: url('/fonts/HelveticaLight.eot');
    src: url('/fonts/HelveticaLight.eot?#iefix')format('embedded-opentype'),
    url('/fonts/HelveticaLight.woff') format('woff'),
    url('/fonts/HelveticaLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
html, body, form
{
	margin: 0;
	padding: 0;
}

html
{
	height:100%;
}

body
{
	height:auto !important;
	height:100%;
	min-height:100%;
	min-width:760px;
	margin:0 5px;
	padding:0 5px;
}

/*Font*/
body
{
	font-size: 80%;
	font-family: 'HelveticaLight',arial;
	color: #333;
	background-color: #fff;
}
#printButton {
	text-align:right;
}
@media print {
    #printButton {
        display:none;
    }
}